body {
    margin: 0;
    background-color: #ffffe0;
}

.container {
    width: 100vw;
    height: 100%;
}

.frame {
    min-width: 200px;
    background-color: #ddd;
    border: 1px #acacac solid;
    border-radius: 6px;
    margin: 2em 4em;
}

.frame.fit {
    width: fit-content;
}
.frame>.heading{
    display: inline;
    border-top: 1px;
    margin-left: 2.5em;
    /*padding-left: .5em;
    padding-right: .5em;*/
    /*coresponds to .frame>.content padding on left side*/
    border-top: 1px #ddd solid;
}
.frame>.heading > span {
    font-size: 16px;
    top: -.7em;
    /*font-weight: bold;*/
    position: relative;
    /*box-shadow: inset 0 -.6em #ddd;*/
}

.frame>.content {
    padding: 0 3em 1em 3em;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

button.ui {
    border: none;
    font-size: 1em;
    font-weight: bold;
    border-radius: 4px;
    padding: .5em;
    background-color: #ff8500;
    color: #fff5de;
}

button.button {
    vertical-align: bottom;
}

.button>img {
    height: 1.5em;
    vertical-align: bottom;
}

table.data-table {
    width: 100%;
    border: black 1px solid;
    border-collapse: collapse;
}

table.data-table th,
table.data-table td {
    padding-left: 1em;
}

table.data-table tr:nth-child(odd) {
    background-color: #b0c4de;
}

table.data-table tr:nth-child(even) {
    background-color: #fff;
}

table.data-table th {
    text-align: left;
    background-color: #789;
    color: #f8f6f1;
}

table.data-table td {
    color: #888;
}

table.form-table tr td:nth-child(odd) {
    font-weight: bold;
    padding-top: 4px;
}

input.short {
    width: 8em;
}

td>form {
    display: inline-block;
}

.form-container>span {
    width: 200px;
    font-weight: bold;
    float: left;
    padding-right: 5px;
    padding-top: 8px;
}

.form-container>input {
    vertical-align: bottom;
    margin-top: 6px;
}