<div class="container antraege-bearbeiten-container">
    <p>
        <span class="titel">Urlaubsantragsverwaltung</span>
        <span class="begruessung">Hallo, {{ mitarbeiter.name }}!</span>
        <button class="btn btn-primary app-btn" (click)="schliessen()">Schliessen</button>
    </p>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" *ngIf="mitarbeiter != null && mitarbeiter.mitarbeiter.length > 0">
            <a class="nav-link" data-toggle="tab" href="#ma-antraege">Mitarbeiter Anträge</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#meine-antraege">Meine Anträge</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="ma-antraege" class="container tab-pane">
            <!-- Eig sollten das Eigene Components seien, da Fachlich zu trennen aber Egal -->
            <!-- Wollt nicht zu viel Angular nachschauen -->
            <div class="panel panel-default">
                <div class="panel-header  neu-panel">
                    <button id="antrag-ablehnen-dialog-button" type="button" hidden data-toggle="modal" data-target="#antrag-ablehnen-dialog">AntragAblehnenDialog</button>
                </div>
                <div class="panel-body">
                    <span *ngIf="antraegeMitarbeiter('').length == 0" class="keine-antraege">
                        Keine Anträge vorhanden!
                    </span>
                    <table *ngIf="antraegeMitarbeiter('').length > 0" class="table table-hover table-responsive table-condensed">
                        <thead>
                        <tr>
                            <th>Nr</th>
                            <th>Antragsteller</th>
                            <th>gestellt am/um<span class="oi oi-arrow-top"></span></th>
                            <th>von</th>
                            <th>bis</th>
                            <th>Tage</th>
                            <th>Status<span class="oi oi-arrow-bottom"></span></th>
                            <td>
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let antrag of antraegeMitarbeiter(''); let i = index">
                            <td>{{ i+1 }}</td>
                            <td>{{ antrag.antragsteller }}</td>
                            <td>{{ antrag.zeitstempel | date:'dd.MM.yyyy HH:mm' }}</td>
                            <td>{{ antrag.von | date:'dd.MM.yyyy' }}</td>
                            <td>{{ antrag.bis | date:'dd.MM.yyyy' }}</td>
                            <td>{{ tage(antrag.von, antrag.bis) }}</td>
                            <td>{{ antrag.status }}</td>
                            <td>{{ antrag.bemerkung }}</td>
                            <td>
                                <button class="btn btn-success" (click)="genehmigen(antrag.id)"
                                        [hidden]="antrag.status !== 'unbearbeitet'">genehmigen</button>
                                <button class="btn btn-secondary" (click)="ablehnen(antrag.id)"
                                        [hidden]="antrag.status !== 'unbearbeitet'">ablehnen</button>

                                <button class="btn btn-warning" (click)="antragMitarbeiterLoeschen(antrag.id)"
                                        [hidden]="antrag.status === 'unbearbeitet'">löschen</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="meine-antraege" class="container tab-pane active">
            <div class="panel panel-default">
                <div class="panel-header  neu-panel">
                    <button type="button" class="btn btn-default btn-sm neu-button" data-toggle="modal" data-target="#antrag-stellen-dialog">
                        <span class="oi oi-plus"></span>
                    </button>
                </div>
                <div class="panel-body">
                    <span *ngIf="antraege('').length == 0" class="keine-antraege">
                        Keine Anträge vorhanden!
                    </span>
                    <table *ngIf="antraege('').length > 0" class="table table-hover table-responsive table-condensed">
                        <thead>
                            <tr>
                                <th>Nr</th>
                                <th>gestellt am/um</th>
                                <th>von<span class="oi oi-arrow-bottom"></span></th>
                                <th>bis</th>
                                <th>Tage</th>
                                <th>Status</th>
                                <th>Bemerkung</th>
                                <td>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let antrag of antraege(''); let i = index">
                                <td>{{ i+1 }}</td>
                                <td>{{ antrag.zeitstempel | date:'dd.MM.yyyy HH:mm' }}</td>
                                <td>{{ antrag.von | date:'dd.MM.yyyy' }}</td>
                                <td>{{ antrag.bis | date:'dd.MM.yyyy' }}</td>
                                <td>{{ tage(antrag.von, antrag.bis) }}</td>
                                <td>{{ antrag.status }}</td>
                                <td>{{ antrag.bemerkung }}</td>
                                <td>
                                    <button class="btn btn-warning" (click)="antragLoeschen(antrag.id)"
                                        [disabled]="antrag.status != 'unbearbeitet'">löschen</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="antrag-stellen-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form" #antragStellenForm="ngForm">
            <div class="modal-header">
                <h4 class="modal-title">Urlaubsantrag stelle</h4>
                <button id="antrag-stellen-dialog-schliesse" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                    <div class="form-group row">
                        <label class="control-label col-sm-4" for="startDatum">Beginn des Urlaubs</label>
                        <div class="col-sm-8">
                            <input id="startDatum" type="date" name="startDatum" [(ngModel)]="newAntragVon" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-4" for="endDatum">Ende des Urlaubs</label>
                        <div class="col-sm-8">
                            <input id="endDatum" type="date" name="endDatum" [(ngModel)]="newAntragBis" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-4" for="urlaubstage">Urlaubstage</label>
                        <div class="col-sm-8">
                            <span id="urlaubstage">{{ tage(newAntragVon, newAntragBis) }}</span>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-transparent" data-dismiss="modal" (click)="antragStellenDialogSchliessen">Abbrechen</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="antragStellen(antragStellenForm)" [disabled]="tage(newAntragVon, newAntragBis) <= 0">Erstellen</button>
            </div>
        </form>
        </div>
    </div>
</div>

<div class="modal" id="antrag-ablehnen-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Urlaubsantrag ablehnen</h4>
                <button id="antrag-ablehnen-dialog-schliessen" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="control-label col-sm-4" for="startDatum">Bemerkung</label>
                    <div class="col-sm-8">
                        <input id="ablehnBemerkung" name="ablehnBemerkung" [(ngModel)]="ablehnBemerkung" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4" for="ablehnenSubmit"></label>
                    <div class="col-sm-8">
                        <button id="ablehnenSubmit" type="button" class="btn btn-primary" data-dismiss="modal" (click)="ablehnenSubmit()" [disabled]="!ablehnBemerkung" >Antrag ablehnen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
